.DS_Store
node_modules
*/dist
ci-server.sh

# CSS files
tailwind.css

# local env files
.env
.env.*
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
